<form method="post">
    <div>
        <label>QuizId</label>
        <input type="text" name="quizid" readonly value="@ViewBag.QuizId" />
    </div>
    <div>
        <label>Content</label>
        <input type="text" name="content" />
    </div>
    <div>
        <label>Level</label>
        <input type="number" name="level" />
    </div>
    <div>
        <label>Score</label>
        <input type="number" name="score" />
    </div>
    <div>
        <button>Save Change</button>
    </div>
</form>
