<div class="row">
    <div class="col-3">
        <p>Home Index</p>
        <h4><a href="/auth/signup">Sign Up</a></h4>
        <h4><a href="/auth/signin">Sign In</a></h4>
    </div>
    <div class="col-9">

    </div>
</div>

