@model Member

<form method="post">
    <div>
        <label>Title</label>
        <input type="text" name="title" />
    </div>
    <div>
        <label>Total Score</label>
        <input type="number" name="totalscore" />
    </div>
    <div>
        <label>Note</label>
        <input type="text" name="note" />
    </div>
    <div>
        <button>Save</button>
    </div>
</form>