@{
    Layout = "_LayoutAuthorize";
}

<div class="card shadow-lg border-0 rounded-lg mt-5">
    <div class="card-header"><h3 class="text-center font-weight-light my-4">Sign Up</h3></div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label class="small mb-1">Username</label>
                <input class="form-control py-4" type="text" placeholder="Enter username" name="username" />
            </div>
            <div class="form-group">
                <label class="small mb-1">Password</label>
                <input class="form-control py-4" type="password" placeholder="Enter password" name="password" />
            </div>
            <div class="form-group">
                <label class="small mb-1">Email</label>
                <input class="form-control py-4" type="text" placeholder="Enter Email" name="email" />
            </div>
            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                <button class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>
    <div class="card-footer text-center">
        <div class="small"><a href="/auth/signin">Đã có Account? Sign in!</a></div>
    </div>
</div>



@*<form method="post">
        <div>
            <label>Username</label>
            <input type="text" name="username" />
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" />
        </div>
        <div>
            <label>Email</label>
            <input type="email" name="email" />
        </div>
        <div>
            <button>Sign Up</button>
        </div>
    </form>*@
