@{
    Layout = "_LayoutAuthorize";
}

@model SignInModel

<div class="card shadow-lg border-0 rounded-lg mt-5">
    <div class="card-header"><h3 class="text-center font-weight-light my-4">Sign In</h3></div>
    <div class="card-body">
        <div asp-validation-summary="All"></div>
        <form method="post">
            <div class="form-group">
                <label class="small mb-1" asp-for="Usr">Username</label>
                <input class="form-control py-4" type="text" asp-for="Usr" placeholder="Enter username" />
                <span asp-validation-for="Usr"></span>
            </div>
            <div class="form-group">
                <label class="small mb-1" asp-for="Pwd">Password</label>
                <input class="form-control py-4" asp-for="Pwd" type="password" placeholder="Enter password" />
                <span asp-validation-for="Pwd"></span>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" asp-for="Rem" type="checkbox" />
                    <label class="custom-control-label" asp-for="Rem">Remember password</label>
                </div>
            </div>
            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                <button class="btn btn-primary">Sign In</button>
            </div>
        </form>
    </div>
    <div class="card-footer text-center">
        <div class="small"><a href="/auth/signup">Chưa có Account? Sign up!</a></div>
    </div>
</div>



@*<div asp-validation-summary="All"></div>
    <form method="post">
        <div>
            <label asp-for="Usr">Username</label>
            <input type="text" asp-for="Usr" />
        </div>
        <div>
            <label asp-for="Pwd">Password</label>
            <input type="password" asp-for="Pwd" />
        </div>
        <div>
            <label asp-for="Rem">Remember me!</label>
            <input type="checkbox" asp-for="Rem" />
        </div>
        <div>
            <button>SignIn</button>
        </div>
    </form>
    <div>
        <p>Chưa có Account?  <a href="/auth/signup">Sign Up</a></p>
    </div>*@
